---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from '../../components/BlogPost.astro';

const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())]

const pageTitle = "Tags";
---
<BaseLayout pageTitle={pageTitle}>

  <div class="tags">{tags.map((tag) =>
    <p class="tag"><a href=`/blog/tags/${tag}`>{tag}</a></p>)}
    </div>

</BaseLayout>

<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>
