---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "About me";


const identity = {
  firstName: "Siim",
  country: "Eesti",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const condition = true;

const skillColor = "navy";
const skillfont = "bold";

import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle={pageTitle}>
  <h2>See on küberkaitse blogi</h2>


</BaseLayout>

<style define:vars={{skillColor, skillfont}}>
  .skill {
    color: var(--skillColor);
    font-weight: var(--skillfont);
  }
</style>
