---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Login";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Blogi</h2>
  <input id="password"></input>
  <button type="button">Login</button>
  <script>
  const button = document.querySelector('button');

  button.addEventListener('click', () => {
    console.log('Button clicked!');
    if(document.getElementById("password").value=="SeeOnParool1"){
      document.location.href="../hufjajhfioagkrgjiosynopsksigm"};

  });
  </script>
</BaseLayout>