---
import Social from "./Social.astro"
---

<footer>
  <Social platform="gitlab" username="zisim" />
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
