---
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props;

const allPosts = await Astro.glob("../pages/posts/*.md");

const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())]

---
<BaseLayout pageTitle={frontmatter.title}>
<p>Written by {frontmatter.author}</p>
<p>Published on {frontmatter.pubDate.slice(0,10)}</p>
<p><em>{frontmatter.description}</em></p>
<slot />
{frontmatter.title == '17.01.24' && <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />}
<div class="tags">{tags.map((tag) =>
  <p class="tag"><a href=`/tags/${tag}`>{tag}</a></p>)}
</div>
</Baselayout>
<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>
